<!-- {% extends 'base.html' %}
{% block head_title %} {{title}} ||{{block.super}} {% endblock %}	

{% block content %}
<h1>{{title}} </h1>
	{% if form.errors %}
	{{ form.errors }}
	{% endif %}
	<form method='POST' action="">
		{% csrf_token %}
		
		{{form.as_p}}
		<button type='submit'>Submit</button>
	</form>
{% endblock %}
 -->


<!-- <input type="text" name='name' placeholser="Your title"><br/>
<input type="text" name='location' placeholder='Location'><br/>
<input type="text" name='category' placeholder='Category'><br/> -->