
<div class="thumbnail text-center">
<h4><a href='{{ menu.get_absolute_url }}'>{{ menu.name }}</a></h4>

{% if menu.image.url %}
	<a href='{{ menu.get_absolute_url }}'><img id='img' class='img-responsive' src='{{ menu.image.url }}'/></a><br/>
	
{% endif %}
<p><a href='{{ menu.restaurant.get_absolute_url }}'>{{ menu.restaurant.name }}</a></p>
<!-- 
{% if price == 'True' %}
	 {{ product.variation_set.first }} pull first variation's first title name 
    {{ menu.get_html_price }}
	
{% endif %} -->
</div>
