{% extends 'base.html' %}
{% block head_title %} Menus||{{ block.super }} {% endblock %}	

{% block content %}

<h1>Menu Items<small><a href="{% url 'menus:create' %}"> Add new item</a></small></h1>		 

<div class='row'>
{% for obj in object_list %} 
	<div class='col-xs-4 {{ col_class_set }}'>
		{% include "menus/item_thumbnail.html" with menu=obj %} <!-- price="True" %} -->
	</div>

	{% if not col_class_set %}
	{% cycle '' '' '</div><div class="row">' %}
	{% endif %}

{% endfor %}	
</div>

{% endblock %}