
{% extends 'base.html' %}

{% block head_title %} Menu Items||{{ block.super }} {% endblock %}	
{% block content %}

<h1>Menu Detail</h1>		 
 <h3>Name:{{ object.name }} </h3>

<div class='row'>
<div class='col-12 col-md-6'>
	{% if object.image %}
		<img src="{{ object.image.url }}" class="img-fluid" />
	{% endif %}
	<br/><br/>
	<p>Restaurant: {{ object.restaurant.name }} </p>
	{% if object.contents %}
	Contents
	<ul>
		{% for item in object.get_contents %}
		<li>{{ item }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if object.excludes %}
	Excludes
	<ul>
		{% for item in object.get_excludes %}
		<li>{{ item }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<hr/>
	<p> Share your favourites on social media<br/> 
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
	<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
	</a>
    
	<a href="https://twitter.com/home?status={{ request.build_absolute_uri }}">
	<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
	</a>
	
	</div>
</div>
{% endblock %}